<div class="home">
  <app-home-sidebar></app-home-sidebar>
  <!-- <app-home-highlights></app-home-highlights> -->

  <app-home-shelf
    title="Play Station"
    [items]="psxList"
    logo="../../../assets/platforms/psx.png"
  ></app-home-shelf>
  <app-home-shelf
    title="Nintendo 64"
    [items]="n64List"
    logo="../../../assets/platforms/n64.png"
  ></app-home-shelf>
  <app-home-shelf
    title="Super Nintendo"
    [items]="snesList"
    logo="../../../assets/platforms/snes.png"
  ></app-home-shelf>
  <app-home-shelf
    title="Master System"
    [items]="masterList"
    logo="../../../assets/platforms/master.png"
    size="medium"
  ></app-home-shelf>
</div>
