//CUSTOM COLORS
$red-race: #af3030 !default;
$neon-pink: #c531ff !default;
$neon-yellow: #f1ff29 !default;

//DEFAULT COLOR SYSTEM
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999999 !default;
$gray-600: #7a8288 !default;
$gray-700: #52575c !default;
$gray-800: #3a3f44 !default;
$gray-900: #272b30 !default;
$gray-1000: #111111 !default;
$black: #000000 !default;
$blue: #228afa !default;
$indigo: #6610f2 !default;
$purple: #a23de6 !default;
$pink: #e83e8c !default;
$red: #ee5f5b !default;
$orange: #fd7e14 !default;
$yellow: #d3e018 !default;
$green: #57ce57 !default;
$teal: #20c997 !default;
$cyan: #4375ff !default;
$primary: $neon-pink;
$secondary: $neon-yellow;

$psx: #5bc0de !default;
$snes: #df2323 !default;

$theme-colors: (
  "primary": $neon-pink,
  "secondary": $neon-yellow,
  "success": $green,
  "danger": $red,
  "info": $cyan,
  "warning": $yellow,
  "psx": $psx,
  "snes": $snes,
);

$custom-colors: (
  "purple": $purple,
);

$theme-colors: map-merge($theme-colors, $custom-colors);
