<div class="sidebar">
  <img
    src="https://forums.launchbox-app.com/uploads/monthly_2020_10/arcade_all-games.png.89ce764881eb6f5614653093dcc8ea05.png"
    height="60px"
    alt=""
  />
  <!-- <div class="d-flex">
    <button class="btn btn-sm">
      <i class="fa fa-money"></i>
      <span> Prices</span>
    </button>

    <button class="btn btn-sm">
      <i class="fa fa-gamepad"></i>
      <span> Game List</span>
    </button>

    <button class="btn btn-sm">
      <i class="fa fa-play"></i>
      <span> Login</span>
    </button>
  </div> -->
</div>
