.sidebar {
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 10000;
}
