.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  img {
    height: 40px;
  }
  span {
    font-size: 24px;
  }
}

.shelf {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  margin-bottom: 60px;
  display: flex;

  &-item {
    margin: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &-play {
      display: none;
    }
    &-info {
      display: none;
    }
    &-img {
      height: 200px;
    }
    &-img.medium {
      height: 300px;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
}

//Scrollbar
::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
