.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  img {
    height: 40px;
  }
  span {
    font-size: 24px;
  }
}

.shelf {
  width: 100%;
  margin-bottom: 60px;
  display: flex;

  &-item {
    margin: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    position: relative;

    &-img {
      height: 200px;
    }
    &-img.size-psx,
    &-img.size-gba {
      height: 250px;
    }
    &-img.size-master,
    &-img.size-arcade,
    &-img.size-nintendo,
    &-img.size-nes,
    &-img.size-genesis {
      height: 300px;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
}
