.platforms {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 50px;

  .shadow-l,
  .shadow-r {
    position: relative;
    pointer-events: none;
    z-index: 2;
    height: 100%;
    width: 100px;
    position: absolute;
  }
  .shadow-l {
    background: rgb(17, 17, 17);
    background: linear-gradient(
      90deg,
      rgba(17, 17, 17, 1) 5%,
      rgba(17, 17, 17, 0.04245448179271705) 100%
    );
  }
  .shadow-r {
    right: 10px;
    background: rgb(17, 17, 17);
    background: linear-gradient(
      270deg,
      rgba(17, 17, 17, 1) 0%,
      rgba(17, 17, 17, 0.04245448179271705) 100%
    );
  }

  &-area {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: auto;

    &-item {
      height: 120px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      position: relative;
      margin: 40px 30px;

      img {
        height: 100%;
      }

      span {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: 40px;
        font-size: 24px;
        text-transform: uppercase;
        transform: scale(0);
        transition: all 0.3s ease-in-out;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }

      &:hover {
        transform: scale(1.3);

        span {
          transform: scale(1);
        }
      }
    }
  }
}
