@import "../../../../../styles/variables";

.list {
  &-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    &-img {
      transition: all 0.1s ease-in-out;
      width: 100%;
      border: 0px solid $primary;

      &:hover {
        border: 8px solid $primary;
        transform: scale(1.16);
        box-shadow: 0 0 10px #000;
      }
    }

    // &-img.size-master,
    // &-img.size-arcade,
    // &-img.size-nintendo,
    // &-img.size-nes,
    // &-img.size-genesis {
    //   height: 300px;
    // }
  }
}
