.list {
  &-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    &-img {
      transition: all 0.1s ease-in-out;
      height: 200px;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }
    }
    
    &-img.size-master,
    &-img.size-arcade,
    &-img.size-nintendo,
    &-img.size-nes,
    &-img.size-genesis {
      height: 300px;
    }
  }
}
