.screens {
  height: 150px;
  width: 100%;
  background-color: #000;
  position: relative;

  &-area {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: -150px;

    img {
      border-radius: 10px;
      margin: 0 20px;
    }
  }
}
