.screens {
  width: 100%;
  position: relative;
  margin-top: -200px;

  &-gradient {
    height: 200px;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &-area {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;

    &-move {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: -150px;
      div {
        border-radius: 10px;
        height: 180px;
        width: 240px;
        margin: 20px;
        background-position: center;
        background-size: cover;
      }
    }
  }
}
